@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500&display=swap");
body {
  margin: 0px;
  padding: 0px;
}

/*==========  ID Rules  ==========*/
@media screen and (min-width: 1024px) {
  #desktop-view {
    width: 60% !important;
    height: 100% !important;
  }
}

@media screen and (orientation: landscape) {
  #land-scape {
    width: 30% !important;
    height: 100%;
  }
}

#menuBar {
  max-height: 100px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media screen and (orientation: landscape) {
  #menuBar {
    max-height: 110px;
  }
}

#header-back {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (orientation: landscape) {
  #bail-bondsman {
    width: 40% !important;
  }
  #bail-bondsman section {
    width: 95%;
    padding-bottom: 0%;
  }
  #bail-bondsman h2 {
    margin-bottom: 2px;
    font-size: 12px !important;
  }
  #bail-bondsman p {
    font-size: 7px !important;
  }
}
@media screen and (min-width: 1024px) {
  #bail-bondsman section {
    width: 80%;
    padding-top: 15% !important;
  }
  #bail-bondsman section h2 {
    font-weight: bolder;
    margin-bottom: 15px;
    letter-spacing: 6px;
    font-size: 17px !important;
  }
  #bail-bondsman section p {
    font-weight: lighter;
    font-size: 13px !important;
  }
}

/*==========  Class Rules  ==========*/
.flexbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (orientation: landscape) {
  .flexbox-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .flexbox-wrapper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.flexbox-wrapper .flex-info {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (orientation: landscape) {
  .flexbox-wrapper .flex-info {
    height: 100%;
    width: 50% !important;
    margin: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .flexbox-wrapper .flex-info {
    width: 40% !important;
  }
}
.flexbox-wrapper .flex-info section {
  width: 80%;
  height: 100%;
  padding: 15% 0%;
  margin: 0% auto;
  font-family: "Spartan";
}
@media screen and (orientation: landscape) {
  .flexbox-wrapper .flex-info section {
    padding-top: 10%;
  }
}
@media screen and (min-width: 1024px) {
  .flexbox-wrapper .flex-info section {
    width: 73%;
    padding-top: 20%;
  }
}
.flexbox-wrapper .flex-info section h1, .flexbox-wrapper .flex-info section h2, .flexbox-wrapper .flex-info section h3 {
  font-weight: bolder;
  margin-bottom: 15px;
}
@media screen and (orientation: landscape) {
  .flexbox-wrapper .flex-info section h1, .flexbox-wrapper .flex-info section h2, .flexbox-wrapper .flex-info section h3 {
    font-size: 20px !important;
  }
}
@media screen and (min-width: 1024px) {
  .flexbox-wrapper .flex-info section h1 {
    margin-bottom: 20px;
    font-size: 40px !important;
  }
}
.flexbox-wrapper .flex-info section h2 {
  font-size: 17px;
  text-transform: uppercase;
}
.flexbox-wrapper .flex-info section p {
  font-size: 13px;
  font-weight: bold;
  color: #a1a1a1;
}
@media screen and (min-width: 1024px) {
  .flexbox-wrapper .flex-info section p {
    font-weight: lighter;
  }
}
.flexbox-wrapper .flex-info section .arrow-box {
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
.flexbox-wrapper .flex-info section .arrow-box h3 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px !important;
  letter-spacing: 10px;
  margin-right: 10px;
}
@media screen and (min-width: 1024px) {
  .flexbox-wrapper .flex-info section .arrow-box h3 {
    margin-top: 30px;
  }
}

.white {
  max-height: 0px;
  overflow: hidden;
  height: 200px !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: white !important;
}
.white .inner-container {
  width: 87%;
  padding: 10% 0%;
  margin: 0px auto;
}
@media screen and (orientation: landscape) {
  .white .inner-container {
    padding: 7% 0%;
  }
}
@media screen and (min-width: 1024px) {
  .white {
    width: 35% !important;
    margin-left: 2% !important;
    margin-right: auto;
    max-height: 100px;
    background-color: transparent !important;
  }
  .white .inner-container {
    height: 100%;
    padding: 0%;
  }
  .white .inner-container .menu-icon {
    margin-top: 0.5%;
  }
  .white ul {
    margin-top: 12%;
    margin-left: 20%;
  }
  .white ul li {
    text-align: center;
    width: 20%;
    font-size: 12px;
    color: white;
    -webkit-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
  }
  .white ul li:hover {
    cursor: pointer;
  }
  .white ul li:after {
    content: "";
    display: block;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    border-bottom: solid 3px white;
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  }
  .white ul li:hover:after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  height: 100vh;
  margin-bottom: 18%;
}
@media screen and (orientation: landscape) {
  .app {
    height: 85vh;
    margin-bottom: 0%;
  }
}
@media screen and (min-width: 1024px) {
  .app {
    height: 75vh;
  }
}

.miso-soup {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.header {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.header header {
  width: 87%;
  margin: 12% auto;
  position: relative;
}
@media screen and (orientation: landscape) {
  .header header {
    width: 50%;
    margin: 10% auto 10% 5%;
  }
}
@media screen and (min-width: 1024px) {
  .header header {
    display: none;
    margin: 5%;
  }
}
.header .room-base {
  display: block;
  margin: 0px auto;
}
.header .menu-icon {
  float: left;
}

.button-holder {
  width: 30%;
  height: 50%;
  margin: 85% 0% 0% 70%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
@media screen and (orientation: landscape) {
  .button-holder {
    margin-top: 38.5%;
    width: 20% !important;
    margin-left: 0%;
    margin-right: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .button-holder {
    margin-top: 32.7%;
    margin-left: 60%;
    margin-right: 0%;
    width: 10% !important;
  }
}

.carousel, .carousel-inner {
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1 !important;
  width: 50% !important;
  height: 20% !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
  background-color: black !important;
}
.carousel-control-next:hover, .carousel-control-prev:hover {
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
  background-color: #262626 !important;
}
@media screen and (orientation: landscape) {
  .carousel-control-next, .carousel-control-prev {
    height: 40% !important;
  }
}
@media screen and (min-width: 1024px) {
  .carousel-control-next, .carousel-control-prev {
    height: 25% !important;
  }
}

/*==========  Element Rules  ==========*/
ul {
  width: 83%;
  padding: 0px !important;
  margin-left: auto;
}
ul li {
  width: 25%;
  font-weight: bolder;
  display: inline-block;
  list-style-type: none;
  font-family: "Spartan";
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
}