@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500&display=swap");
body {
  margin: 0px;
  padding: 0px;
}

/*==========  ID Rules  ==========*/
#menuBar {
  max-height: 100px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media screen and (orientation: landscape) {
  #menuBar {
    max-height: 110px;
  }
}

/*==========  Class Rules  ==========*/
.image-height {
  height: 50% !important;
}

.flexbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flexbox-wrapper .flex-info {
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
.flexbox-wrapper .flex-info section {
  width: 80%;
  height: 100%;
  padding: 12% 0%;
  margin: 0% auto;
  font-family: "Spartan";
}
.flexbox-wrapper .flex-info section h1 {
  font-weight: bolder;
  margin-bottom: 15px;
}
.flexbox-wrapper .flex-info section p {
  font-size: 15px;
  font-weight: bold;
  color: #a1a1a1;
}

.white {
  max-height: 0px;
  overflow: hidden;
  height: 200px !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: white !important;
}
.white .inner-container {
  width: 87%;
  padding: 10% 0%;
  margin: 0px auto;
}
@media screen and (orientation: landscape) {
  .white .inner-container {
    padding: 7% 0%;
  }
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

.miso-soup {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.header {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.header header {
  width: 87%;
  margin: 12% auto;
  position: relative;
}
@media screen and (orientation: landscape) {
  .header header {
    margin: 10% auto;
  }
}
.header .room-base {
  display: block;
  margin: 0px auto;
}
.header .menu-icon {
  float: left;
}

.button-holder {
  width: 30%;
  height: 53%;
  margin-left: 70%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.carousel-control-next, .carousel-control-prev {
  margin-top: 70% !important;
  opacity: 1 !important;
  width: 50% !important;
  height: 20% !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
  background-color: black !important;
}
.carousel-control-next:hover, .carousel-control-prev:hover {
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
  background-color: #262626 !important;
}

/*==========  Element Rules  ==========*/
ul {
  width: 83%;
  padding: 0px !important;
  margin-left: auto;
}
ul li {
  width: 25%;
  text-align: center;
  font-weight: bolder;
  display: inline-block;
  list-style-type: none;
  font-family: "Spartan";
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
}