@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500&display=swap');
$fontRoom: 'Spartan';

body {
    margin: 0px;
    padding: 0px;
}



/*==========  ID Rules  ==========*/
#desktop-view {
    @include desktopView {
        width: 60% !important;
        height: 100% !important;
    }
}

#land-scape {
    @include landscapeSet {
        width: 30% !important;
        height: 100%;
    }
}

#menuBar {
    max-height: 100px;
    transition: all 0.5s ease-in-out;
    @include landscapeSet {
        max-height: 110px;
    }
}

#header-back {
    transition: all 0.5s ease-in-out;
    background-color: rgb(0, 0, 0, 0.6);
}

#bail-bondsman {
    @include landscapeSet {
        width: 40% !important;
        section {
            width: 95%;
            padding-bottom: 0%;
        }
        h2 {
            margin-bottom: 2px;
            font-size: 12px !important;
        }
        p {
            font-size: 7px !important;
        }
    }
    @include desktopView {
        section {
            width: 80%;
            padding-top: 15% !important;
            h2 {
                font-weight: bolder;
                margin-bottom: 15px;
                letter-spacing: 6px;
                font-size: 17px !important;
            }
            p {
                font-weight: lighter;
                font-size: 13px !important;
            }
        }
    }
}






/*==========  Class Rules  ==========*/
.flexbox-wrapper {
    @include flexboxWrap;
    .flex-info {
       @include container;
       height: fit-content;
       @include landscapeSet {
           height: 100%;
           width: 50% !important;
           margin: 0px;
        }
        @include desktopView {
            width: 40% !important;
        }
        section {
            width: 80%;
            height: 100%;
            padding: 15% 0%;
            margin: 0% auto;
            font-family: $fontRoom;
            @include landscapeSet {
                padding-top: 10%;
            }
            @include desktopView {
                width: 73%;
                padding-top: 20%;
            }
            h1, h2, h3 {
                font-weight: bolder;
                margin-bottom: 15px;
                @include landscapeSet {
                    font-size: 20px !important;
                }
            }
            h1 {
                @include desktopView {
                    margin-bottom: 20px;
                    font-size: 40px !important;
                }
            }
            h2 {
                font-size: 17px;
                text-transform: uppercase;
            }
            p {
                font-size: 13px;
                font-weight: bold;
                color:  hsl(0, 0%, 63%);
                @include desktopView {
                    font-weight: lighter;
                }
            }

            .arrow-box {
                @include container;
                h3 {
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 15px !important;
                    letter-spacing: 10px;
                    margin-right: 10px;
                    @include desktopView {
                        margin-top: 30px;
                    }
                }
            }
            
        }
    }
}

.white {
    max-height: 0px;
    overflow: hidden;
    height: 200px !important;
    transition: all 0.5s ease-in-out;
    background-color: hsl(0, 0%, 100%) !important;
    .inner-container {
        @include topDogs;
        padding: 10% 0%;
        margin: 0px auto;
        @include landscapeSet {
            padding: 7% 0%;
        } 
    }
    @include desktopView {
        width: 35% !important;
        margin-left: 2% !important;
        margin-right: auto;
        max-height: 100px;
        background-color: transparent !important;
        .inner-container {
            height: 100%;
            padding: 0%;
            .menu-icon {
                margin-top: 0.5%
            }
        }
        ul {
            margin-top: 12%;
            margin-left: 20%;
            li {
                text-align: center;
                width: (80% / 4);
                font-size: 12px;
                color: hsl(0, 0%, 100%);
                transition: all 0.3s ease-in-out !important;
                @include menuBottom;
            }
        }
       
         
    }
}


.app {
    position: relative;
    @include container;
    height: 100vh;
    margin-bottom: 18%;
    @include landscapeSet {
        height: 85vh;
        margin-bottom: 0%;
    }
    @include desktopView {
        height: 75vh;
    }
    
}

.miso-soup {
    @include container;
    @include absolutely(0);
}

.header {
    @include container;
    @include absolutely(1);
    transition: all 0.5s ease-in-out;
    header {
       @include topDogs;
       margin: 12% auto;
       position: relative;
       @include landscapeSet {
           width: 50%;
           margin: 10% auto 10% 5%;
        }
        @include desktopView {
            display: none;
            margin: 5%;
        }
    }
    .room-base {
       display: block;
       margin: 0px auto;
    }
    .menu-icon {
        float: left;
    }
    
}

.button-holder {
    width: 30%;
    height: 50%;
    margin: 85% 0% 0% 70%;
    @include absolutely(1);
    @include landscapeSet {
        margin-top: 38.5%;
        width: 20% !important;
        margin-left: 0%;
        margin-right: 80%;
    }
    @include desktopView {
        margin-top: 32.7%;
        margin-left: 60%;
        margin-right: 0%;
        width: 10% !important;

    }
}

.carousel, .carousel-inner {
    @include container;
}

.carousel-control-next, .carousel-control-prev {
    @include lightenBack;
    opacity: 1 !important;
    width: 50% !important;
    height: 20% !important;
    transition: all 0.3s ease-in-out !important;
    background-color: hsl(0, 0%, 0%) !important;
    @include landscapeSet {
        height: 40% !important;
    }
    @include desktopView {
        height: 25% !important;
    }
}



/*==========  Element Rules  ==========*/
ul {
    width: 83%;
    padding: 0px !important;
    margin-left: auto;
    li {
        width: (100% / 4);
        font-weight: bolder;
        display: inline-block;
        list-style-type: none;
        font-family: $fontRoom;
        @include verticalAlign(20%);
    }
}




