@mixin container {
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

@mixin topDogs {
    width: 87%;
}

@mixin verticalAlign($Y) {
    position: relative;
    top: 50%;
    transform: translateY(-$Y); 
}

@mixin absolutely($index) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $index;
}

@mixin landscapeSet {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin desktopView {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin lightenBack {
    &:hover {
        transition: all 0.3s ease-in-out !important;
        background-color: lighten($color: #000000, $amount: 15) !important;
    }
}

@mixin menuBottom {
    &:hover {
        cursor: pointer;
    }
    &:after {
        content: '';
        display: block;
        transform: scaleX(0);  
        border-bottom: solid 3px hsl(0, 0%, 100%);  
        transition: transform 250ms ease-in-out;
    }
    &:hover:after {
        transform: scaleX(1); 
    }
}

@mixin flexboxWrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @include landscapeSet {
        flex-direction: row;
    }
    @include desktopView {
        width: fit-content;
        height: fit-content;
    }
}

