@mixin container {
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

@mixin topDogs {
    width: 87%;
}

@mixin verticalAlign($Y) {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-$Y);
    -webkit-transform: translateY(-$Y);
    transform: translateY(-$Y); 
}

@mixin absolutely($index) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $index;
}

@mixin landscapeSet {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin lightenBack {
    &:hover {
        transition: all 0.3s ease-in-out !important;
        background-color: lighten($color: #000000, $amount: 15) !important;
    }
}

@mixin flexboxWrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

