@mixin container {
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

@mixin topDogs {
    width: 85%;
}

@mixin absolutely($index) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $index;
}

@mixin landscapeSet {
    @media screen and (orientation: landscape) {
        @content;
    }
}

